node_modules
dist
dist-ssr
*.local

# env
.env
.env.local
.supabase_db_password.txt

# editor
.vscode/*
!.vscode/extensions.json
.idea

# os
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# supabase
supabase/.temp
supabase/.branches

# claude
.claude/
